.getTitleForm{
    text-align-last: left;
    width: 15;
    height: 10;
    color: brown;
}

.formCampaign{
    /*background-color: antiquewhite;*/
    background-image: url("../Images/campaign1.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 655px;
}
table.list{
    width:80%;
}

td, th {
    border: 1px solid #f8e7e7;
    text-align: left;
    padding: 5px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #ddddddde;
}

input[type=text], input[type=number] {
    width: 90%;
    padding: 5px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}